import sys
import odoorpc

db_name = '{{odoo_database_name}}'
host = '{{odoo_host}}'
port = {{odoo_port}}
super_admin_password = "{{odoo_super_admin_password}}"
new_super_admin_password = "{{odoo_new_super_admin_password}}"
odoo = odoorpc.ODOO(host, port=port)
odoo.db.change_password(super_admin_password, new_super_admin_password)
