import sys
import odoorpc

db_name = '{{odoo_database_name}}'
user = '{{odoo_admin_login}}'
passwd = '{{odoo_admin_password}}'
host = '{{odoo_host}}'
port = {{odoo_port}}
new_super_admin_password = "{{odoo_new_super_admin_password}}"
database_creation_timeout = {{odoo_timeout_backup}}
language = "{{odoo_language}}"
load_demo_data = {{odoo_load_demo_data}}

odoo = odoorpc.ODOO(host, port=port)
timeout_backup = odoo.config['timeout']
odoo.config['timeout'] = database_creation_timeout
odoo.db.create(new_super_admin_password, db_name , load_demo_data, language, passwd)
odoo.config['timeout'] = timeout_backup
